*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: aliceblue;
}
.container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: aliceblue;
    display: none;
  }
  .crosswordDisplay {
    top: 0;
  }
  .clueBlock {
    position: relative;
    margin-bottom: 5em;
  }
  .clueDirection {
    text-align: left;
    margin: 1em 0 0.25em 122px;
    font-size: 1.5em;
    font-weight: bold;
    color: aliceblue;
  }
  .word, .clue, .lineNum {
    display: inline-block;
    height: 1.4em;
    padding: 0 5px;
  }
  .word {
    text-align: right;
    width: 100px;
    margin: 0 20px 0 0;
  }
  .clue {
    width: 630px;
    margin: 0 0 4px 0;
  }
  .lineNum {
    font: 1em calibri;
    line-height: 1.8em;
  }
  .clueReadOnly {
    border-color: rgba(0, 0, 0, 0);
    margin: 0;
    outline: 0;
    color: aliceblue;
    background: none;
  }
  .crossword {
    display: block;
    background-color: black;
  }
  .square {
    margin: 0 1px 1px 0;
    display: inline-block;
    position: relative;
    font: 24px Calibri;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
    vertical-align: top;
    
  }
  .char:focus {
    -webkit-box-shadow: 0 0 0 2px rgb(0, 133, 180);
    -moz-box-shadow: 0 0 0 2px rgb(0, 133, 180);
    box-shadow: inset 0 0 0 2px rgb(0, 133, 180);
  }
  .char {
    font-family: sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 1px 0 0 -1px;
    width: 1.25em;
    height: 1.25em;
    text-align: center;
    background-color: rgb(200, 200, 200);
  }
  .test{
    /* background-color: rgba(200, 200, 200, 0.568); */
    color:blue;
  }
  .charReadOnly:focus {
    -webkit-box-shadow: 0 !important;
    -moz-box-shadow: 0 !important;
    box-shadow: 0 !important;
    border-color: rgba(0, 0, 0, 0);
    margin: 0;
    outline: 0;
    color: #303030;
  }
  .num {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 0.5em;
    line-height: 1em;
    pointer-events: none;
  }
  .hide {
    visibility: hidden;
  }
  .disabled {
    display: none !important;
  }
  .btn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.137);
  }
  #btnCheck {
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.308);
  }
  #btnCheck:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.219);
  }
  #btnReset {
    position: absolute;
    left: 2rem;
    top: 1rem;
    cursor: pointer;
  }
  .line .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  .line:hover .tooltiptext {
    visibility: visible;
  }
  #wrapper {
    width: 75%;
    margin: 20px auto;
    padding-top: 10%;
    text-align: center;
    font-size: 20px;
    display: none;
  }
  section{
      width: 80px;
    height: 60px;
    padding: 5px;
      background: white;
      border-style: solid;
    border-color: #222;  
    border-width: 0 0 2px 2px;
    color: #333;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
    display: inline-block;
    cursor: pointer;
    margin-right: 2px;
    font-weight: bold;
    font-size: 40px;
  }
  section:hover{
    background: #ccc;
    color: gray;
  }
  section:active{
    box-shadow: 0px 0px 50px gray ;
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: -30 100%;
    -webkit-transform: rotate(-3deg);
  }
  #puzzle {
    display: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
  }
  #result {
    /* display: none; */
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
  }
  #intro-1 {
    /* display: none; */
    width: 100%;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding-top: 10%;
    color: #fff;
  }
  #intro-2 {
    display: none;
    width: 100%;
    height: 40px;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding-top: 10%;
    color: #fff;
  }
  .sortMe{
    display: none;
    background: rgba(1, 63, 63, 0.466);
    color: white;
    width: 10%;
    border-radius: 50px;
    text-decoration: none;
  }
  @media screen and (max-width: 480px) {
    #intro-1{
      font-size: 20px;
    }
    #intro-2{
      font-size: 20px;
    }
    #result{
      font-size: 15px;
      width: 70%;
    }
    .row{
      width: 700px;
    }
    .square, .char{
      top:20px;
      left: -50px;
      font-size: 15px;
    }
    #wrapper{
      width: 90%;
    }
    section{
      width: 40px;
      height: 30px;
      font-size: 20px;
    }
    .lineNum{
      float: left;
    }
    .sortMe{
      width: 30%;
    }
  }
